.menu{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 300;
}

.grid{
    display: flex;
    flex-wrap: wrap;
}

.grid img{
    border: 2px solid black;
    border-radius:  50px;
}

.Origami{
    border-radius: 20px;
    background-color: white;
    width: 310px;

    font-family: fantasy;
}